page-results {

    .results-available{
        margin-left: auto;
        text-align: center;
        margin-top: 8px;
        height: 35px;
    }
    ion-col{
        height: 20%;
        font-size: 1.3em;
    }
    #iii{
        margin-left: 20%;
        margin-top: 25%;
    }
    #icon{
        font-size: 145px;
        text-align: center;
        color: black;
        
    }
    #symbol{
        font-size: 2.5em;
        color: black;
        text-align: center;
        margin-top: 5%;
    }
    #header-row{
        background-color: rgb(133, 144, 148);
       
    }
}
